.favicon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.favicon-wrapper img {
  margin-left: 140px;
}

/*
#periodTable tr, #periodTable td {
    width : 400px;
    text-align: center;
}
*/

#infoTable tr, #infoTable td {
    width : 100px;
    text-align: center;
}

#infoTable td:nth-child(1) {
  width: 25px;
}

#infoTable td:nth-child(2) {
  width: 100px;
}

#infoTable td:nth-child(3) {
  width: 150px;
}

#infoTable td:nth-child(4) {
  width: 100px;
}

#infoTable td:nth-child(5) {
  width: 5px;
}

#infoTable td:nth-child(6) {
  width: 100px;
}

#infoTable td:nth-child(7) {
  width: 100px;
}

#voteCountTable tr, #voteCountTable td {
    /*
    border: 1px solid red !important;
    background-color: yellow !important;
    border-collapse: collapse !important;  border 이중선/단일선
    */
    width : 100px;
    text-align: center;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
}

#titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 77%;
}

.content-container__content {
  display: none;
}

.content-container__content.target {
  display: block;
}

.tab-container__item_active {
  border-bottom: 2px solid #2BFFCC;
  color: #2BFFCC;
  cursor: pointer;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* border: 1px solid #369fff; */
}

.tab-container__item {
  cursor: pointer;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* border: 1px solid black; */
}

.tab-wrapper {
    display: flex; 
    list-style-type: none; 
    margin-bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -155px;
    margin-top: -40px;
}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 8px;
  }

  #initialScreen {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }




  .custom-calendar {
    width: 55%;
    height: 500px;
    margin-left: 25px;
    color: #2BFFCC;
  }


  .table-wrapper {
    max-height: 450px;
    margin-top: 56px;
    overflow-y: auto; 
    overflow-x: hidden;
    width: 30%;
} 

  #periodTable {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
    td:nth-child(1){width: 150px};
    td:nth-child(2){width: 500px};
  }

  
  #RoundSb {
    color: black;
    margin-left: 8px;
  }



  #searchBtn {
    background-color: #2BFFCC;
    border: 1px solid #2BFFCC;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 12px;
    margin-right : -23px;
  }



  
  #searchBtn:hover {
    background-color: #19a585;
    border: 1px solid #19a585;
    margin-left : 12px;
    margin-right : -23px;
  }

  #searchWrapper{
    margin-top: 50px;
  }

  #voteBtn {
    background-color: #2BFFCC;
    border: 1px solid #2BFFCC;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 1000px;
  }

  #voteBtn:hover {
    background-color: #19a585;
    border: 1px solid #19a585;
    margin-left: 1000px
  }

  #backBtn {
    background-color: #2BFFCC;
    border: 1px solid #2BFFCC;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }

  #backBtn:hover {
    background-color: #19a585;
    border: 1px solid #19a585;
  }

  #homeBtn {
    background-color: #2BFFCC;
    border: 1px solid #2BFFCC;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }

  #homeBtn:hover {
    background-color: #19a585;
    border: 1px solid #19a585;
  }


  /* FullCalendar의 요일 헤더 텍스트 색상 변경 */
  .fc-day-header {
    color: #ffffff;
  }

  /* FullCalendar의 날짜 텍스트 색상 변경 */
  .fc-daygrid-day {
    color: #ffffff !important;
  }

  .fc-col-header-cell-cushion {
      color: #ffffff !important;
  }

  .fc-daygrid-day-number {
      color: #ffffff !important;
  }


/* #19a585 원본색, 오늘 날짜*/
.fc {
  --fc-today-bg-color: #777777;
}


.fc {
  --fc-button-bg-color: #ffffff;
  --fc-button-text-color: #000000;
  --fc-button-border-color: #ffffff;
  --fc-button-hover-bg-color: #888888;
  --fc-button-hover-border-color: #888888;
  --fc-button-active-bg-color: #444444;
  --fc-button-active-border-color: #444444;
}


  .progress-bar-custom {
    width: 120px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 3px;
    margin-bottom: 5px;
  /* margin-right: 5px; */
  }
