.canvas-container {
  position: relative;
  display: inline-block;
  left: 750px;
}
.user-image {
  width: 700px; /*width와 height는 수정X*/
  height: 656px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* 이미지를 뒤에 위치시키기 위해서 */
}
#myCanvas {
    width: 700px;
    height: 656px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1; /* 캔버스를 이미지 위에 위치시키기 위해서 */
  }
.foulDB{
    position: absolute;
    top: 60px;
    left: 230px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;

    color: #000000;
}
.foulMaker{
    position: absolute;
    top: 190px;
    left: 230px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    z-index: 100;
    background-color: white;
}
.helpMessage1{
    font-size: 5px;
    display: none;
    border: 1px solid black;
    padding: 2px;
    border-radius: 10%;
}
.chooseTeamImage{
    position: absolute;
    top: 150px;
}
.foulMaker2{
    position: absolute;
    left: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    top: 400px;

    z-index: 100;
    background-color: white;
}
.helpMessage2{
    font-size: 5px;
    display: none;
    border: 1px solid black;
    padding: 2px;
    border-radius: 10%;
}
.optionAll{
    position: absolute;
    top: 450px;
    left: 230px;
}
.teamAndBatter{
    position: absolute;
    top: 240px;
    left: 230px;
}
hr{
    position: absolute;
    top: 350px;
    left: 228px;
}
#searchBtn{
    position: absolute;
    top: 150px;
    left: 100px;
    cursor: pointer;
}
.v-line {
    position: absolute;
    border-left : thick solid rgb(92, 96, 93);
    height : 550px;
    left: 610px;
    top: 70px;
}


/*카운트 체크할 때 바뀌는 구글에서 긁어온 코드*/


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rate { display: inline-block;border: 0;margin-right: 15px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  } 



